*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.background{
    height: 100vh;
    width: 100vw;
    background: url('image/background-img.png') no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
}
.bird{
    height: auto;
    width: 20vw;
    position: fixed;
    top: 40vh;
    left: 30vw;
    z-index: 100;
}

#flap-btn, #restart-btn {
    position: fixed;
    bottom: 5vh;
    padding: 10px 20px;
    font-size: 4vw;
    border-radius: 10px;
    background-color:  #ffcc00;
    border: none;
    z-index: 100;
}

#flap-btn { left: 25%; }
#restart-btn { right: 25%; }

.pipe_sprite{
    position: fixed;
    top: 40vh;
    left: 100vw;
    height: 70vh;
    width: 10vw;
    background: radial-gradient(lightgreen 50%, green);
    border: 5px solid black;
}
.message{
    position: absolute;
    font-size: 5vw;
    z-index: 10;
    color: black;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.messageStyle{
    background: white;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5%;
}
.score{
    position: fixed;
    z-index: 10;
    height: 8vw;
    font-size: 10vh;
    font-weight: 100;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    top: 0;
    left: 0;
    margin: 10px;
}
.score_val{
    color: gold;
    font-weight: bold;
}

.game-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

@media only screen and (max-width : 100px){
    .message{
        font-size: 50px;
        top: 50%;
        white-space: nowrap;
    }
    .score{
        font-size: 8vh;
    }
    .bird{
        width: 120px;
        height: 90px;
    }
    .pipe_sprite{
        width: 14vw;
    }
}